<!-- <h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
-->
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!DOCTYPE html>
<html>
<head>
	<title>Fun</title>
</head>
<body>
	<div class="button-row">
		<h1>Liz Hagearty</h1>
		<%= button_to "home", { :action => "index", folder: "main" }, :method => :get %>
		<%= button_to "grad", { :action => "index", folder: "grad" }, :method => :get %>
		<%= button_to "greek", { :action => "index", folder: "greek" }, :method => :get %>
		<%= button_to "self portraits", { :action => "index", folder: "self-portraits" }, :method => :get %>
		<%= button_to "travel", { :action => "index", folder: "travel" }, :method => :get %>
		<%= button_to "events", { :action => "index", folder: "events" }, :method => :get %>
	</div>
	<div class="container">
		<button id="back"> < </button>
		<button id="next"> > </button>
		<% @images.each_with_index do |image, i| %>
			<div class="photo-container">
				<% if i == 0 %>
			    <%= image_tag "#{@folder}/#{image.split('/').last}", :class => "Active", :id => "#{i}" %>
			  <% else %>
			  	<%= image_tag "#{@folder}/#{image.split('/').last}", :class => "Hidden", :id => "#{i}" %>
			  <% end %>
		 	</div>
		 <% end %>
		<% @flickr_images.each_with_index do |image, i| %>
			<% i += @images.length %>
			<div class="photo-container">
		   <%= image_tag image, :class => "Hidden", :id => "#{i}" %>
		  </div>
		<% end %>
	</div>
</div>
</body>
</html>
